.profile__info {
    width: 336px;
    display: grid;
    column-gap: 19px;
    row-gap: 7px;
    grid-template-columns: 293px 24px;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
        'name edit-button'
        'about about';
}

@media (max-width: 768px) {
    .profile__info {
        width: 100%;
        column-gap: 10px;
        grid-template-columns: 36px 189px 37px;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas:
            '. name edit-button'
            'about about about';
    }
}