.popup__caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-align: left;
    margin-top: 0;
    max-width: 291px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: -25px;
    left: 0;
}

@media (max-width: 768px) {
    .popup__caption {
        max-width: 240px;
    }
}