.profile__job {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: about;
}

@media (max-width: 768px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}