.popup__form-save {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #000000;
    cursor: pointer;
    border-radius: 2px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    transition: opacity .4s linear;
}

.popup__form-save:hover {
    opacity: .8;
}

@media (max-width: 768px) {
    .popup__form-save {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}