.profile__one-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .profile__one-form {
        flex-direction: column;
        gap: 26px;
    }
}