.popup__input-person-info {
    width: 100%;
    margin: 0 auto 48px;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 768px) {
    .popup__input-person-info {
        margin: 0 auto 45px;
    }
}