.form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  background: #000000;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.form__submit-btn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .form__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}
