.popup__close-button {
    background: none;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    margin: 0;
    padding: 0;
    width: 32px;
    aspect-ratio: 1/1;
    background-image: url('../../../images/Close-Icon2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .4s linear;
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 768px) {
    .popup__close-button {
        width: 20px;
        top: -36px;
        right: 0;
    }
}