.profile__add-button {
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    align-self: center;
    background-image: url('../../../images/Vector-add-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .4s linear;
    /* aspect-ratio: 3/1; */
}

.profile__add-button:hover {
    opacity: .6;
}

@media (max-width: 768px) {
    .profile__add-button {
        width: 100%;
    }
}