.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    position: relative;
    width: 336px;
}

@media (max-width: 768px) {
    .profile__info {
        align-items: center;
        width: 100%;
    }
}