.popupProfile__form-title {
    /* width: 358px; */
    font-style: inherit;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 48px;
}

@media (max-width: 768px) {
    .popupProfile__form-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
        /* width: 238px; */
    }
}