.popupNewPlace__container {
    background-color: white;
    position: relative;
    margin: 0 auto;
    width: 430px;
    height: 330px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
    box-sizing: border-box;
    padding: 34px 36px 37px;
}

@media (max-width: 768px) {
    .popupNewPlace__container {
        width: 282px;
        height: 322px;
        padding: 25px 22px;
    }
}